.newsletterContainer {
  background-color: #fff0ed;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 49px;
}

.newsletter {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: #878787;
  max-width: 790px;
  padding: 44px 0px;
}

.inputContainer {
  padding-bottom: 49px;
}

.newsletterButton {
  width: 176px;
  height: 54px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  background: var(--Primary, rgba(181, 93, 81, 0.97));
  color: var(--White, #fff);
  border: none;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.04),
    0px 2px 4px 0px rgba(23, 23, 23, 0.04),
    0px 7px 7px 0px rgba(23, 23, 23, 0.03),
    0px 15px 9px 0px rgba(23, 23, 23, 0.02),
    0px 27px 11px 0px rgba(23, 23, 23, 0.01),
    0px 42px 12px 0px rgba(23, 23, 23, 0);
  border-radius: 8px;
}

.inputContainer input {
  width: 574px;
  padding: 16px;
  border-radius: 8px;
  border: 1px;
  gap: 10px;
  margin-right: 24px;
  color: #a5a5a5;
}
