.sortByHeader {
  display: flex;
  gap: 24px;
  align-items: center;

}

.mainContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  position: relative;
}

.display {
  display: flex;
  column-gap: 24px;
  align-items: center;
}
.sortTitle {
  font-family: Roboto;

  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;

  @media (max-width: 500px) {
    display: none;
  }
}

.selector {
  border: solid 1px #878787;
  width: 172px;
  height: 26px;
  padding: 16px 24px 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  background-image: url("../icons/downArrow.png");

  background-repeat: no-repeat;
  background-position-x: calc(100% - 24px);
  background-position-y: center;
  padding-right: 20px;
  padding-right: 20px;

  @media (max-width: 450px) {
    max-width: 7rem;
  }
}

.optionsContainer {
  border: solid 1px #878787;
  width: 172px;

  padding: 20px 20px 20px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-family: Roboto;
  font-weight: 400;
  text-align: left;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #ffffff;
  z-index: 100;
  @media (max-width: 450px) {
    max-width: 7rem;
  }
}

.inputSort {
  font-family: Roboto;

  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;
}

.inputSort {
  visibility: hidden;
  /* margin-bottom: 20px; */
}
label {
  cursor: pointer;
  margin-bottom: 20px;

}
