.bigContainer {
  border: solid 1px transparent;
  display: grid;
  padding: 20px;
  min-height: auto;
  justify-content: center;
  @media (max-width: 500px) {
    display: block;
  }
}

.recipeForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 450px) {
    display: block;
    width: 100%;
  }
}

.recipeForm label {
  font-weight: 600;
  font-size: 11px;
  color: black;
  font-family: "DM Sans";
}

.segment {
  display: grid;
  row-gap: 10px;
}

.rating label {
  float: right;
  position: relative;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.rating label:not(:first-of-type) {
  padding-right: 2px;
}
.rating label:before {
  content: "\2605";
  font-size: 20px;
  color: #c1c1c1;
  line-height: 1;
  align-items: center;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  color: rgb(254, 217, 9);
}


.inline {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
  }

.segment,
.inline {
  padding-top: 12px;
}

.recipeForm label {
  font-weight: 600;
  font-size: 11px;
  color: black;
  font-family: "DM Sans";
}

.buttons {
    padding-top: 35px;
    display: grid;
    grid-template-rows: 30px 30px;
}

.buttons input {
    height: 25px;
 
}

.prep {
  margin-top: 20px;
  display: grid;
}

.addMargin {
  margin-top: 20px;
  display: grid;


}

.titleInput {
  height: 400px;
}
