body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-right: 0px !important;
  overflow: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section-wrapper, .section-wrapper-settings {
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}


.nav-wrapper {
  max-width: 1150px;
  margin: auto;
  overflow: hidden;
  padding: 0px 9.6rem;
}
.recipe-view-wrapper {
  max-width: 1150px;
  margin: auto;
  padding: 2rem 9.6rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 1.4rem;
    margin: 0px;
  }
  .section-wrapper-settings {
    padding: 2rem 1.4rem;
    margin: 0px;
  }
}
@media (max-width: 450px) {
  .recipe {
    padding: 2.2rem 1.4rem;
    margin: 0px;
  }
}
