.loginContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 3rem;
  min-height: 55vh;
  align-items: center;
  @media (max-width: 450px) {
    gap: 0;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.loginPrompt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 1.5rem;
}

.loginImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.loginTag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #878787;
  margin-bottom: 1.5rem;
}

.loginTag span {
  color: #b76256;
  cursor: pointer;
}

.joinTag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #878787;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.passwordInput,
.emailInput,
.nameInput,
.phoneInput {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
  height: 3rem;
  border: 1px solid #ebebeb;
  margin-bottom: 0.5rem;
  padding-left: 3rem;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 1rem;
  background-position-y: center;
}

.emailInput {
  background-image: url("../images/Email.png");

}
.passwordInput {
  background-image: url("../images/Lock.png");

}
.phoneInput {
  background-image: url("../images/telephone.png");

}

.nameInput {
  background-image: url("../images/ProfileIcon.png");

}

.formContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgContainer {
  height: 100%;
  @media (max-width: 450px) {
    display: none;
  }
}

.passVisibleButton {
  position: relative;
  top: -42px;
  left: 90%;
  cursor: pointer;
  @media (max-width: 500px) {
    left: 90%;
    top: -42px;
  }
}

.signButtonHome {
  display: flex;
  height: 44px;
  width: 10rem;
  background: var(--Primary, rgba(181, 93, 81, 0.97));
  color: var(--White, #fff);
  border: none;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 0px 0px rgba(23, 23, 23, 0.04),
    0px 2px 4px 0px rgba(23, 23, 23, 0.04),
    0px 7px 7px 0px rgba(23, 23, 23, 0.03),
    0px 15px 9px 0px rgba(23, 23, 23, 0.02),
    0px 27px 11px 0px rgba(23, 23, 23, 0.01),
    0px 42px 12px 0px rgba(23, 23, 23, 0);
  border-radius: 8px;
  margin-bottom: 1rem;
  @media (max-width: 450px) {
    width: 60%;
  }
}

.alternativeLogin {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  border: 1px solid #ebebeb;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.alternativeLogin p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: grid;
  justify-self: center;
  align-items: center;
  text-align: center;
  color: #878787;
  margin-left: 10px;
}
.socials {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.logoContainer {
  display: grid;
  justify-content: end;
  align-items: end;
  min-height: auto;
  @media (max-width: 450px) {
    display: none;
  }
}

.error {
  font-size: 13px;
  color: #b76256;
  align-self: center;
  margin-bottom: 1rem;
}

.passContainer {
  height: 55px;
}
